    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 20px;
        }
    h1 {
        color: #0073e6;
        text-align: center;
        }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        }
    th, td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        }
    th {
            background-color: #0073e6;
            color: white;
        }
        .highlight {
            background-color: #d4edda; /* Verde para equipos clasificados */
        }
        .danger {
            background-color: #f8d7da; /* Rojo para equipos en zona de descenso */
        }